body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('laguna.jpeg');
    background-size: cover;
    background-position: center center;
    background-color: #9ACD32; /* Amarillo verde para el fondo */
    image-rendering: optimizeQuality;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, nav, #contenido-dinamico, footer {
    position: relative;
    z-index: 1;
}

header {
    color: white;
    padding: 1em 0;
    text-align: center;
    background-color: #333; /* Fondo del encabezado */
}

nav {
    background-color: #a2a5a7;
    color: rgb(221, 18, 18);
    text-align: center;
    padding: 1em 0;
}

nav button {
    background-color: #3498db;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav button:hover {
    background-color: #29b954;
}

#contenido-dinamico {
    margin-top: 100px;
    padding: 0 20px; /* Ajusta el espaciado del contenido dinámico */
    font-size: 25px;
    color: rgb(199, 231, 15);
}

#contenido-dinamico h2 {
    font-size: 40px;
    color: #228B22;
}

#contenido-dinamico p {
    font-size: 34px;
    color: #b40d0d;
}

#foto-esquina {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}

#foto-esquina img {
    width: 250px;
    border-radius: 10%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}